.h1{
    color: rgb(54, 51, 51);
    margin-left: 600px;
}
.para{
    color: rgb(54, 51, 51);
    padding: 50px;
    font-size: 20px;
    margin: 20px;
}

.lvl5Img1{
    height: 3000px;
    margin-left: 370px;
    margin-bottom: 40px;
}
.lvl5Img2{
    height: 500px;
    margin-left: 370px;
    margin-bottom: 40px;
}
.lvl5Img3{
    height: 770px;
    margin-left: 370px;
    margin-bottom: 40px;
}
.lvl5Img4{
    height: 790px;
    margin-left: 370px;
    margin-bottom: 40px;
}
.lvl5Img5{
    height: 400px;
    margin-left: 200px;
    margin-bottom: 40px;
}
.lvl5Img6{
    height: 400px;
    margin-left: 200px;
    margin-bottom: 40px;
}