 body{
    margin: 0px;
    background-image: -webkit-linear-gradient(left, lightblue, white);
    background-blend-mode: multiply;
} 
.navContainer{
    display: flex;
    color: rgb(54, 51, 51);
    
}
.titleContainer{
    margin-left: 550px;
    margin-right: auto;
    color: rgb(54, 51, 51);
    font-size: 35px;
    height: 150px;
    
}
.name{
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: underline;
}
.span{
    font-size: 20px;
    margin-left: 100px;
    margin-top: 0px;
    text-align: none;
}
.links{
    margin: 20px;
    color: rgb(54, 51, 51);
    text-decoration: none;
}
.lexie{
    height: 100px;
    border-radius: 600px;
}
@media (max-width: 768px) {
  /* Mobile styles */
  .titleContainer{
    margin-left: 60px;
    font-size: 30px;
  }
  .portInfo > .myWork{
    margin-left: 250px;
  }
  .portInfo > .links{
    margin-left: 100px;
  }
 .pwBody > .h1{
  margin-left: 270px;
 }
 .pwBody > .imgContainer > .pathicWayImg1{
  margin-left: 80px;
  margin-right: 0px;
 }
 .pwBody > .imgContainer > .pathicWayImg2{
  margin-left: 5px;
  margin-right: 0px;
 }
 .pwBody > .imgContainer > .pathicWayImg3{
  margin-left: 80px;
  margin-right: 0px;
 }
 .pwBody > .imgContainer > .pathicWayImg4{
  margin-left: 30px;
  margin-right: 0px;
 }
 .bookRealmContainer > .h1{
  margin-left: 250px;
 }
 .bookRealmContainer > .imgContainer > .lvl5Img1{
  margin-left: 50px;
  height: 2600px;
  margin-right: 0px;
 }
 .bookRealmContainer > .imgContainer > .lvl5Img2{
  margin-left: 10px;
  height: 480px;
  margin-right: 0px;
 }
 .bookRealmContainer > .imgContainer > .lvl5Img3{
  margin-left: 30px;
  height: 700px;
  margin-right: 0px;
 }
 .bookRealmContainer > .imgContainer > .lvl5Img4{
  margin-left: 40px;
  height: 700px;
  margin-right: 0px;
 }
 .bookRealmContainer > .imgContainer > .lvl5Img5{
  margin-left: 10px;
  height: 270px;
  margin-right: 0px;
 }
 .bookRealmContainer > .imgContainer > .lvl5Img6{
  margin-left: 10px;
  height: 270px;
  margin-right: 0px;
 }
 .movieBuff > .h1{
  margin-left: 270px;
 }
 .movieBuff > .imgContainer > .lvl4Img1{
  margin-left: 10px;
  height: 2400px;
  margin-right: 0px;
 }
 .movieBuff > .imgContainer > .lvl4Img2{
  margin-left: 5px;
  height: 270px;
  margin-right: 0px;
 }
 .movieBuff > .imgContainer > .lvl4Img3{
  margin-left: 5px;
  height: 270px;
  margin-right: 0px;
 }
 .aboutContainer > .h1{
  margin-left: 270px;
 }
 .contactInfo > .h1{
  margin-left: 270px;
 }
 .contactInfo > .list{
  font-size: 20px;
  margin-left: 200px;
 }

}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 18px; /* Adjust as needed */
  }
}

/* Desktop styles */
@media (min-width: 1025px) {
  body {
    font-size: 20px; /* Adjust as needed */
  }
}
