.portInfo{
    margin-top: 50px;
    margin-left: 40px;
    background-image: -webkit-linear-gradient(left, lightblue, white);
    background-blend-mode: multiply;
    color: rgb(54, 51, 51);
}
.myWork{
    margin-left: 580px;
}
.homePageImg{
    height: 200px;
    margin: 40px;
}
.homePageImg:hover{
    opacity: .4;
}
/* Base styles for all devices */
body {
    display: block;
    font-size: 16px; /* Base font size */
    overflow-x: hidden; /* Hide horizontal overflow */
}

/* Mobile styles */
@media (max-width: 428px) {
    body {
        display: flex;
        font-size: 20px;
        
    }
}

/* Tablet styles */
@media (min-width: 429px) and (max-width: 768px) {
    body {
        /* Tablet-specific styles */
    }
}

/* Desktop styles */
@media (min-width: 769px) {
    body {
        /* Desktop-specific styles */
        font-size: 18px; /* Adjusted font size for desktop */
        display: flex;
    }
}
