.portInfo{
    margin-top: 50px;
    margin-left: 40px;
    background-image: -webkit-linear-gradient(left, lightblue, white);
    background-blend-mode: multiply;
    color: rgb(54, 51, 51);
}
.myWork{
    margin-left: 580px;
}
.homePageImg{
    height: 200px;
    margin: 40px;
}
.homePageImg:hover{
    opacity: .4;
} 

/* Small devices (phones) */
@media only screen and (max-width: 600px) {
    .portInfo {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .homePageImg {
        max-width: 100%;
    }

    .imgContainer {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .portInfo {
        justify-content: center;
    }

    .homePageImg {
        max-width: 80%;
    }
}

